:host {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.mat-table {
  overflow: auto;
  flex: 1;
}

.table-actions {
  max-width: 100px;
}

.concat-icons {
  position: relative;

  ::ng-deep .mat-icon:nth-child(2) {
    position: absolute;
    left: 27px;
    bottom: 3px;
    font-size: 15px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background: white;
    border-radius: 50%;
  }
}
