@import '../../../extensions';
@import '../../../mixin';

:host {
  display: flex;
  flex: 1;
  flex-flow: column;
}

::ng-deep .mat-dialog-container {
  max-height: 100vh;
  overflow: auto;
}

.mat-table {
  @extend %responsive-mat-table;
}

@include media(">=small") {
  .table-actions {
    max-width: 200px;
  }
}

.concat-icons {
  position: relative;

  ::ng-deep .mat-icon:nth-child(2) {
    position: absolute;
    left: 27px;
    bottom: 3px;
    font-size: 15px;
    height: 16px;
    width: 16px;
    line-height: 16px;
    background: #fff;
    border-radius: 50%;
  }
}

::ng-deep .app-order-dialog {
  max-width: none !important;
  min-width: 80vw;
}

@include media("<small") {
  ::ng-deep .app-order-dialog {
    width: 100vw;
  }

  .mat-paginator {
    ::ng-deep .mat-paginator-container {
      padding: 0;
      flex-flow: row-reverse;
      justify-content: space-between;
    }

    ::ng-deep .mat-paginator-range-label {
      margin: 0 0 0 8px
    }
  }
}

@include media(">=medium") {
  ::ng-deep .app-order-dialog {
    max-width: 1024px !important;
    min-width: 960px;
  }
}
