<button mat-icon-button [title]="'PAGES.HOME.VISUALIZE' | translate">
  <mat-icon>open_in_new</mat-icon>
</button>
<button mat-icon-button [title]="'PAGES.HOME.PRINT' | translate">
  <mat-icon>print</mat-icon>
</button>
<button mat-icon-button [title]="'PAGES.HOME.CREATE_NEW_ORDER' | translate">
  <mat-icon>note_add</mat-icon>
</button>
<button mat-icon-button class="concat-icons" [title]="'PAGES.HOME.PRINT_AND_CREATE' | translate">
  <mat-icon>print</mat-icon>
  <mat-icon>add_circle</mat-icon>
</button>

