@import "../../../mixin";

:host {
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  @include media(">=small") {
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0 0;
  }
}

button {
  margin: 10px;
}
