@import '../../../extensions';

:host {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.mat-table {
  overflow: auto;
  flex: 1;
}

.mat-header-row {
  @extend %sticky-mat-table-header;
}

.table-actions {
  max-width: 100px;
}
