@import '../../../extensions';
@import '../../../mixin';

:host {
  display: flex;
  flex: 1;
  flex-flow: column;
}

.mat-table {
  @extend %responsive-mat-table;
}

@include media(">=small") {
  .table-actions {
    max-width: 100px;
  }
}


