<form *ngIf="form" [formGroup]="form" class="app-edit-order-item">
  <mat-form-field class="app-edit-order-item__item">
    <mat-select [placeholder]="'PAGES.HOME.EDIT_ORDER_ITEM.ITEM' | translate"
                formControlName="itemId">
      <mat-option [value]=""></mat-option>
      <mat-option *ngFor="let item of items" [value]="item._id">
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="app-edit-order-item__count">
    <input matInput
           type="number"
           formControlName="count"
           [placeholder]="'PAGES.HOME.ORDER.COUNT' | translate"
           min="0"
           required>
  </mat-form-field>
</form>
