@import "../../../mixin";

:host {
  flex: 1;
}

.app-edit-order-item {
  display: flex;

  &__count {
    margin: 0 0 0 10px;
  }

  &__item {
    flex: 1;
  }

  @include media("<small") {
    &__count {
      max-width: 70px;
    }
  }

  @include media(">=small") {
    flex-flow: row nowrap;

    mat-form-field {
      flex: 1;
    }
  }
}
