<div *ngIf="order && order._id" class="add-edit-order__header">
  <h2>{{'PAGES.HOME.EDIT_ORDER.EDITING_ORDER' | translate}}{{order._id}}</h2>
  <span>{{order.type}}</span>
  <span>{{order.created | date}}</span>
  <span *ngIf="order.type === orderType.PROCESSED">{{order.processed | date}}</span>
</div>
<div *ngIf="!order || !order._id" class="add-edit-order__header">
  <h2>
    {{'PAGES.HOME.EDIT_ORDER.CREATING_NEW_ORDER' | translate}}
  </h2>
</div>

<div>
  <button mat-raised-button (click)="addItemInOrder()">
    <mat-icon>add_box</mat-icon>
    {{'PAGES.HOME.EDIT_ORDER.ADD_ITEM_IN_ORDER' | translate}}
  </button>
</div>

<h3>{{'PAGES.HOME.EDIT_ORDER.ITEMS_IN_ORDER' | translate}}</h3>

<form *ngIf="form && order" [formGroup]="form" class="app-edit-order__items">
  <div *ngFor="let controlName of controlNames" class="app-edit-order__item">
    <app-edit-order-item [items]="items" [formControlName]="controlName"
                         class="app-edit-order__item-control"></app-edit-order-item>
    <button
      mat-icon-button
      color="warn"
      (click)="removeItemInOrder(controlName)"
      [title]="'PAGES.HOME.EDIT_ORDER.REMOVE_ITEM_IN_ORDER' | translate"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</form>
