@import "../../../mixin";

:host {
  flex: 1;
  display: flex;
  flex-flow: column;
}

.app-edit-order {
  &__item {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  &__items {
    overflow: auto;
  }

  @include media(">=medium") {
    &__item {
      &:hover {
        background: rgba(0, 0, 0, .05);
      }
    }
  }
}
