@import "../../../mixin";

:host {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 0 8px;
}

.app-edit-order {
  &__item {
    display: flex;
    flex-flow: row nowrap;
  }

  &__items {
    overflow: auto;
    flex: 1;
  }

  &__actions {
    display: flex;
    flex-flow: column-reverse;

    > * {
      margin: 0 0 5px;
    }
  }

  @include media(">small") {
    &__actions {
      flex-flow: row nowrap;

      > * {
        margin: 0;

        &:first-child {
          margin: 0 10px 0 0;
        }
      }
    }
  }

  @include media(">=medium") {
    &__item {
      &:hover {
        background: rgba(0, 0, 0, .05);
      }
    }
  }
}
