@import "mixin";

.spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  padding: 56px 16px 0 ;
  height: calc(100% - 56px);

  @include media(">=small") {
    padding-top: 64px;
    height: calc(100% - 64px);
  }
}
