@import "variables";
@import "mixin";

.spacer {
  flex: 1 1 auto;
}

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main {
  padding: 56px $gutter 0 ;
  height: calc(100% - 56px);

  @include media(">=small") {
    padding-top: 64px;
    height: calc(100% - 64px);
  }
}

::ng-deep :focus {
  outline: none !important;
}

.visually-hidden {
  opacity: 0;

  &:hover {
    cursor: default;
  }
}
