<form *ngIf="form" [formGroup]="form" class="form">
  <mat-form-field>
    <input matInput
           formControlName="name"
           [placeholder]="'PAGES.HOME.ITEM_DIALOG.NAME_FIELD' | translate"
           required>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="number"
           formControlName="price"
           [placeholder]="'PAGES.HOME.ITEM_DIALOG.PRICE_FIELD' | translate"
           min="0"
           required>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           formControlName="type"
           [placeholder]="'PAGES.HOME.ITEM_DIALOG.TYPE_FIELD' | translate">
  </mat-form-field>
</form>
<div class="actions">
  <button mat-raised-button
          [disabled]="form.pristine || form.invalid || (isSaving$ | async)"
          (click)="save()"
          color="primary">
    <mat-icon>save</mat-icon>
    {{'PAGES.HOME.SAVE' | translate}}
  </button>
  <button mat-raised-button (click)="cancel($event)">
    <mat-icon>cancel</mat-icon>
    {{'PAGES.HOME.CANCEL' | translate}}
  </button>
</div>
